<template>
    <div>
        Quickquote
    </div>
</template>

<script>
    export default {
        props: ['resourceName', 'resourceId', 'field'],

        mounted() {
            //
        }
    }
</script>
