<template>
    <card class="flex flex-col justify-center">
 <div>
  <b-dropdown id="ddown1" text="Dropdown Button" class="m-md-2">
    <b-dropdown-item>First Action</b-dropdown-item>
    <b-dropdown-item>Second Action</b-dropdown-item>
    <b-dropdown-item>Third Action</b-dropdown-item>
    <b-dropdown-divider></b-dropdown-divider>
    <b-dropdown-item>Something else here...</b-dropdown-item>
    <b-dropdown-item disabled>Disabled action</b-dropdown-item>
  </b-dropdown>
</div>
    </card> 
</template>

<script>
import axios from 'axios';
export default {
    
    props: [
        'card',

        // The following props are only available on resource detail cards...
        // 'resource',
        // 'resourceId',
        // 'resourceName',
    ],
    data(){
        return {
            data:'',
        }
    },

    mounted() {
        let vm = this;
       axios.get('/nova-vendor/quotedata/foo').then( (response) => {
          vm.data = response.data;
       })
    },
}
</script>
